---
//const ProductElement = ({ id, name, image }) => {
---

<a
	href={`/product/${id}`}
	aria-label="Go to product page"
	className="flex h-[14rem] flex-col space-y-2 overflow-hidden lg:h-[16rem] xl:h-[22rem]"
>
	<div className="h-[12rem] overflow-hidden lg:h-[14rem] xl:h-[20rem]">
		<img
			src={image}
			alt={name}
			width="300"
			height="300"
			className="h-full w-full object-cover transition-all duration-300 ease-out hover:scale-110"
		/>
	</div>
	<span className="flex h-[2rem] items-center truncate pl-2 font-medium">{name}</span>
</a>
